#container {
    width: 100%;
}

#section-left, #section-right {
    height: 20px;
    display: inline-block;
}

#section-left {
    background-color: pink;
    width: calc(100% - 20px);
}

#section-right {
    background-color: lightcoral;
    width: 20px;
}