@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,600&display=swap');

:root {
    --pink: #ff96aa;
    --pink-accent: #ff5172;
    --dark: #0f213a;
    --gray: #7a8cad;
    --backround: #fefefe;
    --pink-background: #fff7f9;
    --dark-background: #102441;
    --gray-background: #f4f8fc;
}

body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    background-color: white;
    color: var(--dark);
    display: grid;
    grid-template-columns: 1fr min(1200px, 100%) 1fr;
    justify-items: center;
}

body>* {
    grid-column: 2;
    width: 100%;
    margin: 20px auto;
}

#logo {
    font-weight: 600;
    font-size: 32px;
    color: var(--pink);
    margin: 8px 32px;
}

nav {
    position: sticky;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 1400px;
}

.main-menu {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 20px;
}

ul.menu,
ul.menu ul {
    list-style: none;
    font-size: 17px;
}

ul.menu {
    display: grid;
    grid-auto-rows: 1fr;
}


ul.menu ul {
    display: none;
    /* display: grid;  */
    position: absolute;
    grid-auto-rows: 40px;
    gap: 1.2px;
    padding: 0;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-color: var(--pink-background);
}

ul.menu ul li {
    display: grid;
    background-color: white;
    align-items: center;
}

nav a:link,
nav a:visited {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--pink);
    padding: 5px;
}

.menu li:hover {
    color: var(--pink-accent);
}

.menu a:hover {
    color: var(--pink-accent);
}

.menu li:hover ul {
    display: grid;
}


/* .menu>li:has(ul)>a::after 
.menu a[href='#']::after 
*/
.chevron::after {
    content: " ⌵";
    vertical-align: top;
}

h4 {
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
}

.partners {
    display: grid;
    justify-items: center;
}

.partners-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-items: center;
}

.partners-imgs img {
    height: 50px;

}

h1 {
    font-size: 64px;
    margin-bottom: 0;
}

h1+p {
    font-size: 25px;
    font-weight: 500;
}



img.circular {
    height: 70px;
    clip-path: circle();
}

.cards-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.cards-2>div {
    display: grid;
    justify-items: left;
}

.pink-button,
.pink-button:link,
.pink-button:visited {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--pink);
    border-style: solid;
    border-width: 0;
    border-radius: 50px;
    padding: 20px 30px;
    margin: 10px;
}

/* .pink-button:hover {
    padding: 30px 40px;
    margin: 0;
} */

.testimonial {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: min-content;
    gap: 20px;
    background-color: var(--pink-background);
    height: calc(100% - 2 * 20px);
    justify-items: left;
    align-content: top;
    padding: 20px;

}

.testimonial>.quote {
    grid-column: span 2;
    font-size: 22px;
    text-align: center;
}

.testimonial>img {
    grid-column: span 1;
}

.testimonial-name {
    font-weight: 700;
}

.fullbleed {
    background-color: var(--dark-background);
}

.fullbleed,
.fullbleed-pink {
    grid-column: 1 / 4;
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 50px 0;
}


.video {
    width: 816px;
    height: 460px;
}


.enhance-left {
    grid-column: 1;
    background-color: #F4F8FC;
}

.enhance-right {
    grid-column: 3;
    background-color: #F4F8FC;
}

.enhance {
    justify-self: center;
    background-color: #F4F8FC;
}

.enhance>h1 {
    text-align: center;
    font-size: 50px;
}

.enhance>h3 {
    text-align: center;
    font-size: 30px;
    color: var(--pink);
}


.carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    padding: 20px;

}

/* TODO: text colors/sizes */
.carousel>.carousel-card {
    background-color: white;
    display: grid;
    justify-items: center;
    text-align: center;
}

.carousel>.carousel-card>img {
    width: 100px;
}

.color-buttons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    justify-content: space-around;

}

.color-button,
.color-button:link,
.color-button:visited {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: var(--pink);
    border-style: solid;
    border-width: 0;
    border-radius: 38px;
    padding: 20px;
}

.color-button:nth-child(1),
.color-button:nth-child(1):link,
.color-button:nth-child(1):visited {
    background-color: var(--dark);

}

.color-button:nth-child(3),
.color-button:nth-child(3):link,
.color-button:nth-child(3):visited {
    background-color: #247DFF;
}

.color-button:nth-child(4),
.color-button:nth-child(4):link,
.color-button:nth-child(4):visited {
    background-color: #A9B8D3;
}

#hr_leaders {
    background-color: #0f213a;
    background-image: url(img/joseph-frank-XGC_1eH_ZGI-unsplash_darkblue-scaled-4-1024x683.jpg);
    background-size: cover;
    background-position-y: -300px;
    display: grid;
    justify-items: center;

}

#hr_leaders>* {
    color: white;
}

#resources {
    display: grid;
    justify-items: center;
}

.pink {
    color: var(--pink);
}

#webinars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.float-button {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: var(--pink);
    border-style: solid;
    border-width: 0;
    border-radius: 50px;
    padding: 7px 14px;
}

.webinar {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.webinar>img {
    width: 100%;
    display: none;
}

.webinar div {
    padding: 12px;
}

.webinar p {
    font-size: 20px;
    font-weight: 700;
}

.webinar a:link,
.webinar a:visited {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--pink);
    padding: 5px;
}

.webinar-img {
    background-image: url(assets/1.jpeg);
    background-size: cover;
    height: 250px;
    padding: 20px 5px;
}

.webinar:nth-child(2) .webinar-img {
    background-image: url(assets/2.jpeg);

}

.webinar:nth-child(3) .webinar-img {
    background-image: url(assets/3.jpeg);
}

.fullbleed-pink {
    background-color: var(--pink-background);
}


.fullbleed-pink>.testimonial {
    justify-items: center;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
}

.fullbleed-pink>.testimonial>.quote {
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    grid-column: span 3;
    width: 850px;
}

.fullbleed-pink>.testimonial img {
    justify-self: right;
}

.programs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.program {
    background-color: var(--gray-background);
    font-size: 20px;
    padding: 20px;
}

.program>img {
    height: 83px;
}

.program h4 {
    font-style: normal;
    font-size: 20px;
}

.program a:link,
.program a:visited {
    display: block;
    text-align: left;
    color: var(--pink);
}

@media(max-width: 768px) {
    .cards-2 {
        grid-template-columns: 1fr;
    }

    .video {
        width: 100vw;
    }

    .main-menu {
        grid-auto-flow: column;
    }

}