#container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        /* "h h h h h h"
        "s s m m m m"
        "s s m m m m"
        "s s m m m m"
        "s s f f f f"; */
        "h h f f s s"
        "h h f f s s"
        "h h . . s s"
        "h h m m s s"
        "h h m m s s";
    grid-gap: 10px;

    .head {
        grid-area: h;
        background-color: #f7b733;
    }

    .side-nav {
        grid-area: s;
        background-color: #fc4a1a;
    }

    .main {
        grid-area: m;
        background-color: #4abdac;
    }

    .foot {
        grid-area: f;
        background-color: #dfdce3;
    }
}