#parent {
    background-color: blue;
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
}
.child{
    background-color: red;
}
#child-1{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 30px;
}
#child-2{
    position: absolute;
    height: 100%;
    width: 10px;
    left: 20px;
}