#chocolate{
    display: inline-block;
    background-color: black;
    width:calc((60px + 4px) * 4);
    padding: 0;
}
.piece{
    background-color: #66320E;
    width: 60px;
    height: 60px;
    margin: 2px;
    float: left;
}
#strip{
    background-color: darkred;
    margin: 0 2px;
    width: calc(100% - 4px);
    height: 4px;
    float: left;
}