* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 3px;

    margin: 3px;
    background-color: black;
}

#middle-container {
    display: flex;
    gap: 3px;
}



#side-1,
#side-2 {
    background-color: #cc99cc;
    padding: 0.5ch;
}

#side-1{
    min-width: 7ch;
}

#content-container {
    background-color: #ffcccc;
    padding: 1ch;
}

#header,
#footer {
    background-color: #83caff;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5ch;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

nav dl {
    text-transform: uppercase;
}

nav dt {
    text-align: center;
}

nav dd {
    margin: 0;
}