#graph-background {
    background-color: #6c5ce7;
    display: inline-block;
    width: 300px;
    height: 160px;
    position: relative;
    border-radius: 5px;
}

.label {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
}

#y-label {
    top: 5px;
    left: 5px;
}

#x-label {
    bottom: 5px;
    right: 5px;
}

#graph-data
{
    position: absolute;
    left: 5px;
    top: 25px;
    right: 50px;
    bottom: 5px;    
}
.point{
    background-color: silver;
    width: 20px;
    display: inline-block;
    margin-right: 15px;
}
.point:nth-child(1)
{
    height:20%;
}
.point:nth-child(2)
{
    height:70%;
}
.point:nth-child(3)
{
    height:100%;
}
.point:nth-child(4)
{
    height:90%;
}
.point:nth-child(5)
{
    height:80%;
}
.point:nth-child(6)
{
    height:40%;
}
